main{
    width: 100%;
    background-color: #CCC;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.helloContainer, .imgcContainer {
    max-width: 500px;
}

.helloContainer h1, h2{
    font-size: 3em;
    text-align: center;
}

.helloContainer p{
    font-size: 1.5em;
    text-align: center;
}

.imgcContainer img{
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }
    .helloContainer, .imgcContainer {
        max-width: 400px;
    }
    .helloContainer h1, h2{
        font-size: 1.5em;
    }
    
    .helloContainer p{
        font-size: 1em;
    }
    .imgcContainer{
        padding-top: 15px;
    }
    .imgcContainer img{
        width: 100%;
        max-width: 250px;
    }
}