*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    background-color: #121212;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    background-color: #121212;
    width: 100%;
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid #30363d;
}

.titleLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.titleLogo a{
    text-decoration: none;
    color: #FFF;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav li{
    border: 1px solid #30363d;
    border-radius: 5px;
    padding: 5px;
}
.nav li, nav li a {
    list-style: none;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    transition: all 0.5s;
    font-weight: bold;
}

.nav li a:hover{
    color: #5e5e5e;
}

.nav li +li {
    margin-left: 10px;
}

#iconMenu{
    display:none;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillsContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    height: 80px;
    width: 80%;
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        height: auto;
    }
    .nav{
        margin-top: 20px;
        flex-direction: column;
        display: none;
    }
    .nav.open{
        display: block;   
    }

    .nav li{
        margin-bottom: 10px;
        text-align: center;
        width: 300px;
    }
    .nav a{
        width: 100%;    
    }
    .nav li + li {
        margin-left: 0;
    }
    .titleLogo{
        width: 100%;
        justify-content: space-between;
    }
    .titleLogo h1{
       font-size: 25px;
    }

    #iconHtml{
        display: none;
    }
    #iconMenu{
        cursor: pointer;
        width: 35px;
        display:block;
    }
    
}